<% content_for :title, "Foster cares" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Foster cares</h1>
    <%= link_to "New foster care", new_admin_foster_care_path, class: "rounded-md px-3.5 py-2.5 bg-yellow-500 hover:bg-yellow-400 text-gray-900 shadow-sm transition hover:-translate-y-0.5 block font-medium" %>
  </div>

  <div id="foster_cares" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @foster_cares.any? %>
      <% @foster_cares.each do |foster_care| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render foster_care %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", [:admin, foster_care], class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_admin_foster_care_path(foster_care), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <% if can_write? %>
  <%= button_to "Destroy", [:admin, foster_care], method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
<% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="bg-white rounded-lg border border-dashed border-gray-300 p-10 text-center my-8">
        <p class="text-gray-500 text-lg">Nenhum registro encontrado.</p>
      </div>
    <% end %>
  </div>
</div>
