<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Login | ONG Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# Enable tailwind %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 font-sans antialiased text-gray-900">
    <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-lg border border-gray-100">
      <% if flash[:alert] %>
        <div class="bg-red-50 border-l-4 border-red-400 p-4 rounded-md">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <p class="text-sm text-red-700">
                <%= flash[:alert] %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="bg-green-50 border-l-4 border-green-400 p-4 rounded-md">
          <div class="flex">
            <div class="ml-3">
              <p class="text-sm text-green-700">
                <%= flash[:notice] %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
